@media all {
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {
    background-color: #eee;
    color: #333 ;
    font-size: 9pt ;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
}
