
div {
    border: 1px solid red;
    height: 10ex;
    width: 10em;
    font-family: Stencil;       /* 160 106
}

/*
    font-family: Archer;        /* 160 67
    font-family: Stencil;       /* 160 106
    font-family: Verdana;       /* 160 87
    font-family: Baskerville;   /* 160 63

*/