#D1 {

}
#D2 {

}
#E1 {

}
#E2 {

}
#E4 {

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
html {
    background-color: #eee;
    border: 1em solid #ccc;
    display: table;
    height: 100%; width: 100%;
}
body {
    background-color: white;
    border: 1px solid black;
    display: table-cell;
    vertical-align: middle;
}   body > * {
        background-color: #eee;
    }
ul {
    background-color: #eaeaea;
    list-style: none;
    width: 20%;
}
li {
    margin-left: 0;
}   li a {
        background-color: #fafafa;
        border: 3px solid #eee;
        display: block;
        padding: 3px;
        width: 100%;
    }   li a:hover {
            background-color: red;
        }
iframe {
    height: 80%; width: 80%;
    float: right;
}
#Output {
    background-color: #e3e3e3;
    clear: right;
    height: 20%; width: 100%;
}
